@charset "UTF-8";
* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

fieldset {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  background-color: rgb(0, 0, 0);
}
.header .container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 21px;
  margin: 0 auto;
}

.logo {
  margin-right: auto;
}

.nav-list {
  display: flex;
  gap: 28px;
}

.nav-link {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: Oswald;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0%;
  text-decoration: none;
  padding-top: 44px;
  padding-bottom: 55px;
  position: relative;
}
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 43px;
  background-color: rgb(235, 87, 87);
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.nav-items {
  display: flex;
}

.icon-search {
  margin-right: 8px;
}

.list-auth {
  display: flex;
  margin-left: auto;
  margin-right: 31px;
  gap: 12px;
}

.link-auth {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: Oswald;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0%;
  text-decoration: none;
  padding-top: 44px;
  padding-bottom: 55px;
  position: relative;
}
.link-auth:after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 43px;
  background-color: rgb(235, 87, 87);
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-auth:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.base-shop-text {
  color: rgb(255, 255, 255);
  font-family: Roboto Medium;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.base-price-text {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.list-base {
  display: flex;
  gap: 10px;
}

.base-shop {
  display: flex;
  align-items: center;
}
.base-shop:last-child {
  flex-direction: column;
  align-items: start;
}

.hero {
  width: 100%;
  padding-top: 204px;
  padding-bottom: 204px;
  background-color: white;
  background-image: url("/img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero .container {
  width: 1430px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  margin: 0 auto;
}
.hero-title {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 86px;
  font-weight: 600;
  line-height: 96px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.hero-btn {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  width: 175px;
  height: 56px;
  background-color: transparent;
  margin-top: 48px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover {
  background-color: rgb(0, 0, 0);
  border-color: transparent;
  color: white;
  cursor: pointer;
}

.title-span {
  color: transparent;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
}

.container-text {
  width: 504px;
  position: relative;
  margin-right: 109px;
  /* Вертикальна лінія праворуч */
}
.container-text::before, .container-text::after {
  content: "";
  position: absolute;
  border: 2px solid rgb(0, 0, 0);
}
.container-text::before {
  top: -21px;
  width: 100%;
  right: -41px;
  border-bottom: none;
  border-left: none;
}
.container-text::after {
  top: -21px;
  right: -41px;
  height: 100px;
  border-top: none;
  border-left: none;
}

.hero-container-img {
  display: flex;
  position: relative;
}

.hero-img-one {
  position: absolute;
  top: -130px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-img-one:hover {
  transform: scale(1.2);
  z-index: 1;
}

.hero-img-two {
  position: absolute;
  left: 330px;
  top: -130px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-img-two:hover {
  transform: scale(1.2);
}

.brand {
  padding-top: 44px;
  padding-bottom: 30px;
}
.brand .container {
  width: 100%;
  max-width: 1878px;
  margin: 0 auto;
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
  border: 2px solid rgb(196, 196, 196);
  align-items: center;
  flex-direction: column;
  position: relative;
}
.brand-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  width: 100%;
  overflow: hidden;
}
.brand-title {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  position: absolute;
  bottom: 171px;
  background-color: white;
  padding-left: 115px;
  padding-right: 115px;
  text-align: center;
}
.brand-icon {
  fill: rgb(255, 255, 255);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.brand-icon:hover {
  fill: rgb(240, 242, 242);
}

.catalog {
  padding-bottom: 30px;
}
.catalog .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-catalog-one {
  height: 400px;
  width: 710px;
  background-color: rgb(241, 239, 240);
  display: flex;
  justify-content: space-between;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-catalog-one:hover {
  transform: scale(1.03);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.container-catalog-two {
  width: 710px;
  height: 365px;
  background-color: rgb(247, 224, 213);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 20px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-catalog-two:hover {
  transform: scale(1.03);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.container-catalog-three {
  margin-left: 20px;
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(224, 222, 211);
  height: 786px;
  width: 710px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-catalog-three:hover {
  transform: scale(1.03);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.catalog-img-one {
  width: 430px;
  height: 400px;
  margin-top: auto;
}

.title-catalog {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
  width: 221px;
  margin-bottom: 7px;
}

.describe-catalog {
  color: rgb(0, 0, 0);
  font-family: Roboto Light;
  font-size: 16px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 1%;
  margin-bottom: 31px;
}

.catalog-btn {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.5px;
  border: 2px solid rgb(0, 0, 0);
  width: 145px;
  height: 50px;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog-btn:hover {
  background-color: rgb(0, 0, 0);
  border: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.catalog-text {
  padding-top: 140px;
  padding-right: 70px;
  padding-left: 24px;
}

.title-catalog-two {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.catalog-text-two {
  padding-top: 135px;
  padding-left: 40px;
}

.catalog-img-two {
  width: 377px;
  height: 350px;
  margin-top: auto;
}

.catalog-text-three {
  padding-top: 430px;
  padding-left: 50px;
}

.title-catalog-three {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 7px;
  width: 223px;
}

.catalog-img-three {
  width: 430px;
  height: 700px;
  margin-top: auto;
}

.limits {
  background-image: linear-gradient(90deg, rgb(221, 235, 241), rgb(211, 229, 238) 20.708%, rgb(200, 222, 236) 52.271%, rgba(255, 255, 255, 0) 100%), url("/img/limits-img.jpg");
  background-position: center;
  padding-top: 96px;
  padding-bottom: 78px;
  background-repeat: no-repeat;
  background-size: cover;
}
.limits .container {
  width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 21px;
  padding-right: 21px;
  margin: 0 auto;
}

.limits-title {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 34px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  /* Вертикальна лінія праворуч */
}
.limits-title::before, .limits-title::after {
  content: "";
  position: absolute;
  border: 2px solid rgb(0, 0, 0);
}
.limits-title::before {
  top: -21px;
  width: 375px;
  right: -41px;
  border-bottom: none;
  border-left: none;
}
.limits-title::after {
  top: -21px;
  right: -41px;
  height: 60px;
  border-top: none;
  border-left: none;
}

.limits-describe {
  color: rgb(0, 0, 0);
  font-family: Roboto Light;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 1%;
  margin-top: 17px;
  width: 389px;
}

.limits-btn {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  margin-top: 24px;
  width: 110px;
  height: 41px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.limits-btn:hover {
  background-color: rgb(0, 0, 0);
  border: transparent;
  color: white;
  cursor: pointer;
}

.blog {
  padding-top: 26px;
  padding-bottom: 26px;
  background: rgb(248, 249, 251);
}
@media screen and (min-width: 768px) {
  .blog {
    padding-top: 46px;
    padding-bottom: 46px;
  }
}
.blog .container {
  width: 100%;
  max-width: 1878px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 21px;
  padding-right: 21px;
  flex-direction: column;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .blog .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .blog .container {
    width: 768px;
  }
}
.blog-container {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  text-align: start;
}
@media screen and (min-width: 480px) {
  .blog-container {
    width: 406px;
  }
}
@media screen and (min-width: 768px) {
  .blog-container {
    width: 348px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .blog-container {
    width: 100%;
  }
}
.blog-title {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 23px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  margin-top: 21px;
}
@media screen and (min-width: 480px) {
  .blog-title {
    line-height: 39px;
    font-size: 26px;
  }
}
.blog-descrive {
  color: rgb(0, 0, 0);
  font-family: Roboto Light;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1%;
  margin-top: 15px;
}
@media screen and (min-width: 480px) {
  .blog-descrive {
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
  }
}
.blog-date {
  color: rgb(79, 79, 79);
  font-family: Oswald;
  font-size: 13px;
  font-weight: 300;
  line-height: 37px;
  letter-spacing: 0%;
  border-top: 3px solid rgb(0, 0, 0);
  margin-top: 99px;
}
.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .blog-list {
    flex-wrap: nowrap;
  }
}
.blog-title-section {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .blog-title-section {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: 0px;
  }
}

.text-title {
  color: rgb(189, 189, 189);
  font-family: Oswald;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.footer {
  padding-top: 65px;
  background-color: Black;
  padding-bottom: 40px;
}
.footer .container {
  display: flex;
  width: 100%;
  max-width: 1878px;
  padding-left: 21px;
  padding-right: 21px;
  flex-direction: column;
  margin: 0 auto;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.footer-title {
  color: rgb(255, 255, 255);
  font-family: Oswald;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-transform: uppercase;
}

.wrap-info-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}

.addres-wrap {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  font-style: normal;
}

.footer-text {
  color: rgb(130, 130, 130);
  font-family: Roboto Medium;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
}
.footer-text:hover, .footer-text:active {
  color: white;
  cursor: pointer;
}

.contact-title {
  color: rgb(255, 255, 255);
  font-family: Oswald;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.contact-text {
  color: rgb(130, 130, 130);
  font-family: Roboto Medium;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.list-features {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-soc {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.soc-text {
  color: rgb(130, 130, 130);
  font-family: Roboto Medium;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-text:hover {
  color: white;
}

.soc-icon {
  margin-right: 20px;
}

.form-footer {
  display: flex;
  flex-direction: column;
}

.btn-join {
  color: rgb(63, 63, 63);
  font-family: Oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  height: 40px;
  background-color: white;
  margin-top: 7px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-join:hover {
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.form-input {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  background: rgb(0, 0, 0);
  margin-top: 10px;
  width: 280px;
  height: 40px;
  padding-left: 15px;
  border: 1px solid rgb(255, 255, 255);
}

.form-label {
  color: rgb(130, 130, 130);
  font-family: Roboto Medium;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
}
.form-label:focus-within, .form-label:hover {
  color: white;
}

.text-date-crisp {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  margin-top: auto;
  border-top: 1px solid rgb(79, 79, 79);
  padding-top: 14px;
}

.account-hero {
  padding-top: 20px;
  padding-bottom: 70px;
}

.account-text {
  color: rgb(130, 130, 130);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.account-title {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}

.form {
  width: 1454px;
  border: 1px solid rgb(196, 196, 196);
  padding-top: 103px;
  padding-bottom: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 55px;
}
.form-group {
  border: none;
  display: flex;
  flex-direction: column;
}
.form-label-reg {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}
.form-label-reg:nth-child(2) {
  margin-bottom: 20px;
}
.form-label-password {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.group-title {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-bottom: 39px;
  width: 606px;
}

.input-name {
  border: 1px solid rgb(196, 196, 196);
  width: 443px;
  height: 44px;
  padding-left: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.btn-form {
  width: 270px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-family: Oswald;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), border 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-form:hover {
  border: 1px solid black;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.link-back {
  color: rgb(130, 130, 130);
  font-family: Oswald;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: auto;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-back:hover {
  color: black;
}

.wrap-btn-form {
  width: 606px;
  display: flex;
  align-items: center;
}

.span-label {
  color: red;
  margin-right: auto;
  margin-left: 5px;
}/*# sourceMappingURL=main.css.map */