* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* /* --------Header----------------- */

.header {
  display: flex;
  background-color: rgb(0, 0, 0);
}

.header .container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 21px;
  margin: 0 auto;
}

.logo {
  margin-right: auto;
}

.nav-list {
  display: flex;
  gap: 28px;
}

.nav-link {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: Oswald;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0%;
  text-decoration: none;
  padding-top: 44px;
  padding-bottom: 55px;
  position: relative;
}

.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 43px;
  background-color: rgb(235, 87, 87);
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.nav-items {
  display: flex;
}

.icon-search {
  margin-right: 8px;
}

.list-auth {
  display: flex;
  margin-left: auto;
  margin-right: 31px;
  gap: 12px;
}

.link-auth {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: Oswald;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0%;
  text-decoration: none;
  padding-top: 44px;
  padding-bottom: 55px;
  position: relative;

}

.link-auth:after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 43px;
  background-color: rgb(235, 87, 87);
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-auth:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.base-shop-text {
  color: rgb(255, 255, 255);
  font-family: Roboto Medium;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.base-price-text {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.list-base {
  display: flex;
  gap: 10px;
}

.base-shop {
  display: flex;
  align-items: center;
}

.base-shop:last-child {
  flex-direction: column;
  align-items: start;
}

/* ----------------Hero-------------- */

.hero {
  width: 100%;
  padding-top: 204px;
  padding-bottom: 204px;
  background-color: white;
  background-image: url('/img/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.hero .container {
  width: 1430px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
}

.container-text {
  width: 504px;
  position: relative;
  margin-right: 109px;
}

.hero-title {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 86px;
  font-weight: 600;
  line-height: 96px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.hero-btn {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  width: 175px;
  height: 56px;
  background-color: transparent;
  margin-top: 48px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: rgb(0, 0, 0);
  border-color: transparent;
  color: white;
}

.title-span {
  color: transparent;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
}

.container-text::before,
.container-text::after {
  content: "";
  position: absolute;
  border: 2px solid rgb(0, 0, 0);
}

.container-text::before {
  top: -21px;
  width: 100%;
  right: -41px;
  border-bottom: none;
  border-left: none;
}

/* Вертикальна лінія праворуч */
.container-text::after {
  top: -21px;
  right: -41px;
  height: 100px;
  border-top: none;
  border-left: none;
}

.hero-container-img {
  display: flex;
  position: relative;
}

.hero-img-one {
  position: absolute;
  top: -130px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1)
}

.hero-img-one:hover {
  transform: scale(1.2);
  z-index: 1;
}

.hero-img-two {
  position: absolute;
  left: 330px;
  top: -130px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-img-two:hover {
  transform: scale(1.2);
}

/* ------------Brand------------------- */

.brand {
  padding-top: 44px;
  padding-bottom: 30px;
}

.brand .container {
  width: 100%;
  padding-left: 21px;
  padding-right: 21px;
  margin: 0 auto;
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
  border: 2px solid rgb(196, 196, 196);
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.brand-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  width: 100%;
  overflow: hidden;
}

.brand-title {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  position: absolute;
  bottom: 171px;
  background-color: white;
  padding-left: 115px;
  padding-right: 115px;
  text-align: center;
}

.brand-icon {
fill: rgb(255, 255, 255);
transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1)
}

.brand-icon:hover {
fill: rgb(240, 242, 242);
}


/* ------catalog---- */
.catalog .container{
display: flex;
align-items: center;
justify-content: center;
}

.container-catalog-one {
  width: 100%;
  height: 434px;
  background-color: rgb(241, 239, 240);
  display: flex;
  justify-content: space-between;
}

.title-catalog {
  color: rgb(0, 0, 0);
font-family: Oswald;
font-size: 48px;
font-weight: 600;
line-height: 62px;
letter-spacing: 0%;
text-transform: uppercase;
width: 221px;
margin-bottom: 7px;
}

.describe-catalog {
  color: rgb(0, 0, 0);
font-family: Roboto Light;
font-size: 22px;
font-weight: 400;
line-height: 37px;
letter-spacing: 1%;
margin-bottom: 51px;
}

.catalog-btn {
color: rgb(0, 0, 0);
font-family: Oswald;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0.5px;
border: 2px solid rgb(0, 0, 0);
width: 175px;
height: 56px;
text-transform: uppercase;
background-color: transparent;
}

.catalog-text {
margin-top: 82px;
  margin-left: 112px;
  margin-right: auto;
  margin-bottom: 77px;
}

.container-catalog-two {
  width: 100%;
  background-color: rgb(247, 224, 213);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 30px;
}

.title-catalog-two{
  color: rgb(0, 0, 0);
font-family: Oswald;
font-size: 48px;
font-weight: 600;
line-height: 62px;
letter-spacing: 0%;
text-transform: uppercase;
margin-bottom: 7px;
}

.catalog-text-two {
  padding-top: 115px;
  padding-left: 94px;
  padding-bottom: 115px;
}

.container-catalog-three {
  margin-left: 30px;
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(224, 222, 211);
  height: 100%;
}

.catalog-text-three {
  /* margin-top: 430px;
  margin-left: 94px;
  margin-right: auto;
  margin-bottom: 103px; */
}

.catalog-img-two {
  margin-top: auto;
}