.blog {
  padding-top: 46px;
  padding-bottom: 46px;
  background: rgb(248, 249, 251);

.container {
  width: 100%;
  max-width: 1878px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 21px;
  padding-right: 21px;
  flex-direction: column;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
   @media screen and (min-width: 768px) {
    width: 768px;
  }
     @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

&-container {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
  text-align: start;
 @media screen and (min-width: 480px) {
    width: 406px;
  }
   @media screen and (min-width: 768px) {
    width: 348px;
  }
   @media screen and (min-width: 1200px) {
    width: 267px;
  }
  
}

&-title {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0%;
  margin-top: 21px;
}

&-descrive {
  color: rgb(0, 0, 0);
  font-family: Roboto Light;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1%;
  margin-top: 32px;
}

&-date {
  color: rgb(79, 79, 79);
  font-family: Oswald;
  font-size: 13px;
  font-weight: 300;
  line-height: 37px;
  letter-spacing: 0%;
  border-top: 3px solid rgb(0, 0, 0);
  margin-top: 99px;
}

&-list {
  display: flex;

  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  overflow: hidden;
    @media screen and (min-width: 1200px) {
    flex-wrap: wrap;
  }
    @media screen and (min-width: 1500px) {
    flex-wrap: nowrap;
  }
}

&-title-section {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
  margin-right: auto;
}
}

.text-title {
  color: rgb(189, 189, 189);
  font-family: Oswald;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
