.main-section {
    padding-bottom: 117px;
}
.main-section .container {
    display: flex;
}

.main-wrap {
    margin-top: 160px;
    margin-left: 55px;
}
.main-img {
    position: relative;
    top: 0px;
    right: 15px;
}

.main-title {
    font-weight: 400;
font-size: 66px;
line-height: calc(69/66);
letter-spacing: 1.72235px;
color: var(--main-color);
width: 419px;
margin-bottom: 33px;
}

.main-description {
    font-family: 'Tinos';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: calc(24/16);
color: var(--main-color);
width: 494px;
margin-bottom: 40px;
}

.main-shop {
    font-family: 'Tinos';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: calc(24/16);
text-align: center;
width: 232px;
height: 40px;
background: var(--main-color);
border-radius: 1000px;
color: #CBDDBF;
}