.meds {
    margin-bottom: 280px;
}

.meds .container {
    display: flex;
}

.meds-wrap {
    margin-left: 132px;
}

.meds-title {
    font-weight: 400;
font-size: 44px;
line-height: calc(53/44);
letter-spacing: 0.960471px;
color: var(--main-color);
width: 359px;
margin-bottom: 40px;
}

.meds-item {
    display: flex;
    gap: 10px;
    margin-bottom: 56px;
}
.meds-item:first-child  .meds-number{
    color: #FFFFFF;
    background: #0E2D22;
box-shadow: 0px -5px 0px #F4F1ED;
border-radius: 1000px;
width: 30px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
}

.meds-item .meds-number {
    background: #F4F1ED;
border: 1px solid #9FABA7;
box-shadow: 0px -5px 0px #F4F1ED;
border-radius: 1000px;
width: 30px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
}

.meds-deskr {
    font-family: 'Tinos';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: calc(20/16);
color: var(--main-color);
}

.meds-pre-descr{
    font-family: 'Tinos';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: calc(20/16);
color:var(--main-color);
text-decoration: none;
border-bottom: 2px solid #9FABA7;;
}

.img-pils{
    margin-left: 64px;
}